.header {
	text-align: center;
}

.art-image {
	max-width: 700px;
	max-height: 700px;
}

.row {
	margin: 10px 0 10px 0;
	border-top: 1px solid #ccc;
	position: relative;
}
.info {
	margin-top: 100px;
	font-size: 18px;
}

.toggle {
	position: absolute;
	top: 10px;
	right: 10px;
}

.toggleAll {
	position: fixed;
	top: 10px;
	right: 100px;
	z-index: 100;
}
